.Parent-Block{
    margin: 20px 0 20px 0   ;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent child elements from wrapping */
}

@media screen and (min-width: 768px) {
    .Parent-Block{
        display: flex;
        justify-content: center;
    }
}

