.Hourly-Block{
    text-align: center !important;
    display: inline-block; /* Display child elements inline */
    width: 16%; /* Set the width of each child element */
    margin-top: 20px;
    height: 16vw; /* Set the height of each child element */
    font-size: 4vw;
    font-weight: bolder;
    border-radius: 30%; /* Set border radius */
    margin-bottom: 10px;

    padding: 10px;

    background-color: rgba(249, 249, 249, 0.837);

    width: clamp(65px,8vw,8vw);
    height: clamp(65px,8vw,8vw);
    font-size: clamp(8px,1vw,1vw);

}
@media screen and (min-width: 768px) {
    .Hourly-Block{
        width: 8vw;
        height: 8vw;
        font-size: 1vw;

    }
}

.hourly-icon{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%
}