.title {
    font-size: 23px;
    font-weight: 700;
    
}

.Top{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: black !important;
}

.Panel-widgets{
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    gap: 1rem;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}   

.Panel-slot{
    min-height: 8rem;
    min-width: 120px;
    padding: 0.9rem;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    
}

.Icon-Content{
    flex-direction: column;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.Icon{
    width:40%;
}
.Sun-Icon{
    width:30%;
    width: clamp(3rem, 20vw, 8rem);
}

.Wind-Icon{
    width:30%;
}


.Arrow{
    width: clamp(3rem, 20vw, 5.5rem);

}

@media only screen and (max-width: 1000px){
    .Panel-widgets {
        grid-template-columns: repeat(2, minmax(9rem, 1fr));
        }
    }
    
