/* settings.css */
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  border-radius: 12%;
  /* Center the box in the middle of the screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Additional styling */
  background-color: rgba(200, 252, 255, 0.8); /* Use rgba for transparency */
  z-index: 10;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

/* Create a pseudo-element to cover the background */
.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency as needed */
  backdrop-filter: blur(10px); /* Apply a blur effect */
  z-index: 5; /* Ensure the overlay is behind the settings container */


  
}

.settings-overlay > * {
  color: black
}




.settings-container div {
  margin-bottom: 10px;
}

.settings-container button {
  margin-top: 20px;
}


