.weather {
    width: 300px;
    border-radius: 6px;
    color: white;
    margin: -20px auto 0 auto;
    padding: 5px 20px 10px 20px;
}


.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-right {
    padding-right: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-left {
    justify-content: left;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;

}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    margin: 0;
}

.weather-icon {
    width: 100px;

}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: 3px;
    margin: 10px 0;
    
}

.details {
    width: 100%;
    padding-left: 20px;

}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.parameter-label.top {
    font-weight: 800;
}