@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.Absolute-Parent {
  display: flex;
  justify-content: flex-start;
  width: 200vw;

}

/*body styling*/
body{
  background: rgb(255,220,124);
  background: linear-gradient(0deg, rgba(255,220,124,1) 0%, rgba(119,245,255,1) 100%);
  height:auto;
  background-repeat:space;
  color:whitesmoke;
  background:#cbdbf4;
  background-attachment: fixed;
}

/*Main app container styling*/
.App {
  text-align: center;
  transition: transform 0.5s ease-out; /* Add transition for smooth animation */
}

body.settings-open .App {
  transform: translateX(-100%); /* Move the App to the left to reveal Settings */
}

/*Styling Hourly Weather Section for Mobile*/
@media screen and (max-width: 768px){
  .mobile-toggle{
    min-width: 96vw;
  }
}
/*Styling Hourly Weather Section*/
.mobile-toggle{
  display: flex;
  justify-content: flex-start;
  width: 65.5vw;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-top: 1.5vw;
  margin-left: 1vw;
  background-color: rgb(51, 51, 51,0.4);/*#333333*/
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(51, 51, 51,0.4);/*#333333*/
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  scrollbar-color: 0;
  margin: auto;
  margin-top: 1rem;
  }


.weather-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 200px;
}

.weather-card p {
  margin: 0;
}

/*search bar and settings container styling*/
.Search-And-Settings{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

/*settings button styling*/
.settings{
  width:20px;
  height: 20px;
}

/*search bar styling*/
.search{
  width:70%;
  color:black
}

/*bookmark section styling*/
.Bookmark-Section{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
}

/*Buttons styling under the search bar*/
.Bookmark-Section button{
  color: white;
  background-color: rgb(51, 51, 51,0.4);
  border-color: rgba(51, 51, 51, 0.4);
  padding-inline: 1vw;
}