.DailyBreakDown{
    position: 'relative'; 
    display: 'inline-block';
}


.Daily-Parent{
    display: flex;
    /*
    justify-content: center;
    */
    align-items: center;
    height:clamp(190px,19vw,300px);
    overflow:hidden;
    gap: .5em;
}

