/* Extras.css */
.OverlayContainer {
    position: relative;
    display: inline-block;
  }
  
  .OverlayImage {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .OverlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Example: Set text color */
  }
  

.Morning{

top:0;
left:0
}

.Evening{
    top:0;
}